# back/.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv-wsl/
.venv-*
venv-*
*.egg-info
dist/
build/
.git
.gitignore
tests/
*.sqlite3
*.log
back/documentos/*
documentos/*
*.tgz
*.tar.gz
.DS_Store
.idea/
.vscode/
node_modules/
